h1 {
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-radius: 10px;
    background-color: aqua;
    font-family: Arial;
    font-size: large;
}

title {
    color: rgb(6, 13, 114);
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    background-color: rgba(115, 23, 236, 0.137);
    border: 10px solid rebeccapurple;
    column-span: all;
}

h3 {
    border-style: groove;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border-color: rebeccapurple;
    margin-left: 1200px;
    text-align: center;
}


h4 {
    border-style: groove;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border-color: rebeccapurple;
    margin-left: 1200px;
    text-align: center;
}

h5 {
    border-style: groove;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border-color: rebeccapurple;
    margin-left: 1200px;
    text-align: center;

}

p {
    text-align: left;
    text-decoration: solid;
    font-size: 2em;
    max-width: 400px;
    margin-left: 50px;

}

.dark-mode {
    background-color: #000000;
    color: #eee;
}

.visitcard2 {
    position: absolute;
    left: 100pxs;
    top: 330px;
    transform: translate(-50%, -50);
    font-size: 2em;
    opacity: 0;
    animation: fadeOut 0.3s ease-out;
    color: #0213fc;
}

.visitcard2:hover {
    animation: fadeIn 0.2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

h6 {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}