h1 {
    text-align: center;
    text-transform: uppercase;
    border: 2px;
    border-radius: 10px;
    background-color: aqua;
    font-family: Arial;
    font-size: large;
}

title {
    color: rgb(6, 13, 114);
}

img {
    width: 400px;
    height: 250px;
    border-radius: 50px;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Verdana, sans-serif;
    background-color: rgba(115, 23, 236, 0.137);
    border: 10px solid rebeccapurple;
    column-span: all;
}

h3 {
    border-style: groove;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border-color: rebeccapurple;
    margin-left: 1500px;
    text-align: center;
}


h4 {
    border-style: groove;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border-color: rebeccapurple;
    margin-left: 1500px;
    text-align: center;
}

h5 {
    border-style: groove;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border-color: rebeccapurple;
    margin-left: 1500px;
    text-align: center;

}

p {
    text-align: left;
    text-decoration: solid;
    font-size: 2em;
    max-width: 400px;
    margin-left: 50px;

}